.iconButton {
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font: inherit;
  background-color: green;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
